[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ECDFniche"]
	path = ECDFniche
	url = https://github.com/luizesser/ecdfniche
[submodule "caretSDM"]
	path = caretSDM
	url = https://github.com/luizesser/caretsdm
[submodule "checkCLI"]
	path = checkCLI
	url = https://github.com/luizesser/checkcli
[submodule "chooseGCM"]
	path = chooseGCM
	url = https://github.com/luizesser/choosegcm
