[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "caretSDM"]
	path = caretSDM
	url = https://github.com/luizesser/caretsdm
[submodule "chooseGCM"]
	path = chooseGCM
	url = https://github.com/luizesser/choosegcm
